/*****Titel og overskrift*****/

.grid_1_1 img {
  opacity: 50%;
}

.grid_1_2 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid_5_5 {
  text-align: center;
}

/***Tekst***/

.grid_5_6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 188px;
}

/****Billeder**/
.grid_5_7 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/**Footer**/
footer {
  background-color: #4d604b;
  width: 100%;
  min-height: 250px;
  padding: 10px 10px 25px 10px;
  margin-top: 50px;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 50px;
  text-align: center;
}

.h3footer {
  color: white;
  font-family: "Krub", sans-serif;
}

footer p {
  font-family: "Krub", sans-serif;
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.footerlist {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footerlist li {
  padding: 0px 0px 5px 0px;
  font-family: "Krub", sans-serif;
}
.footerlist li a {
  color: #ccc;
}
.footerlist li a:hover {
  color: #fff;
  text-decoration: none;
}

.arbtider {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
  color: #ccc;
  padding: 0px 0px 5px 0px;
  font-family: "Krub", sans-serif;
}

a:link {
  text-decoration: none;
}
