/*****Titel og overskrift*****/

.grid_1_1 img {
  opacity: 50%;
}

.grid_1_2 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid_5_5 {
  text-align: center;
}

/***Tekst***/
@media (min-width: 800px) {
  .grid_5_6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 140px;
    margin: 1rem;
  }
}
/**Footer**/
footer {
  background-color: #4d604b;
  width: 100%;
  min-height: 250px;
  padding: 10px 10px 25px 10px;
  margin-top: 50px;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 50px;
  text-align: center;
}

.h3footer {
  color: white;
  font-family: "Krub", sans-serif;
}

footer p {
  font-family: "Krub", sans-serif;
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.footerlist {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footerlist li {
  padding: 0px 0px 5px 0px;
  font-family: "Krub", sans-serif;
}
.footerlist li a {
  color: #ccc;
}
.footerlist li a:hover {
  color: #fff;
  text-decoration: none;
}

.arbtider {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
  color: #ccc;
  padding: 0px 0px 5px 0px;
  font-family: "Krub", sans-serif;
}

a:link {
  text-decoration: none;
}

/****Billeder**/
/* Slideshow container */
.slideshow-container {
  width: 80%;
  align-self: center;
  position: relative;
  margin-top: 2rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 150%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 1rem 0.5rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 799px) {
  /*****Titel og overskrift*****/
  .grid_1_1 {
    opacity: 50%;
    display: none;
  }

  .grid_1_2 {
    display: none;
  }
}
